// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Dish-Advisor Color Scheme
$my-yellow: #EFAC2C;
$my-pink: #DBBAB4;
$my-green: #23423D;
$my-white: #F1EBD8;
$background: #F7F4EA;
$card-colour: #fffdf6;
