.discover-container, .map-container {
  margin: 0 10px;
  margin-bottom: 10px;
}

.discover-container h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #EFAC2C;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: $headers-font;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  // background-image: none !important;
}

.dashboard-card {
  // margin: 20px;
  // height: 100px;
  border-bottom: none;
}

#featured-card {
  min-height: 180px;
  border-bottom: 1px solid #23423D;
}
