.heading {
  text-align: center;
  color: $my-yellow;
  font-weight: bold;
}

.sub-heading {
  margin-bottom: 0;
  font-size: 28px;
  text-align: center;
  color: $my-green;
  font-weight: bold;
}

.dish-icon {
  padding-left: 8px;
}

.delete-button {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.link {
  grid-row: 2/3;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dashboard-card {
  overflow: hidden;
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $my-green
}

.dashboard-card img {
  height: 32px;
  width: auto;
  object-fit: cover;
}

.dashboard-infos a {
  text-decoration: none;
  font-size: 20px;
  color: $my-yellow;
  font-weight: bold;
  margin: 0;
}

.dashboard-infos p {
  font-size: 17px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 3px;
  color: $my-green;
  text-align: left;
}


.favourite-dish-grid{
  display: flex;
  justify-content: center;
  margin: 0px auto;
  flex-wrap: wrap;
}

.profile-photo {
  margin-top: 0px;
}

.user-stats{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 5px 0px 24px 0px;
  padding: 5px 0px 0px 0px;
}

.us-one {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: -6px;
}

.user-stats h2{
  font-size: 2.5rem;
  color: $my-yellow;
  font-weight: 700;

}

.user-stats p{
  color: $my-green;
}

.dish-disco p{
  font-size: 12px;
  text-align: center;
}

.us-two{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.us-two h2 {
  font-size: 80px;
}

.us-three {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 30%
}

.dish-name-link {
  width: 97%;
  margin-bottom: 8px;
  border-bottom: 3px solid #dbbab43d;
  padding-bottom: 8px;
  margin-top: 10px;
}

.dish-name-link a {
  font-size: 21px;
  letter-spacing: 2px;
  font-weight: 600;
  color: $my-green;
  font-family: "Castoro";
}

.dish-name-link a:hover{
  text-decoration: none;
}

#profile-color {
  color: $my-yellow;
}


.user-five-star{
  background-color: $my-yellow;
  text-align: center;
  margin-bottom: 8px;
}

// .favourite-button-links{
//   display:flex;
//   justify-content: space-around;
//   width: 100%;
//   align-items: center;
// }

.review-user-link{
  display: flex;
}

.delete-favourite-can{
  width: 100%;
  display: flex;
  justify-content: center;
}

.level-up{
  width: 100%;
  margin-top: 10px;
}

.level-up p{
  margin-bottom: 0;
}

.level-padding{
  padding-left: 5px;
}

#level-left{
  margin-left: 5px;
  width: auto;
  color: $my-yellow;
  padding-right: 10px;
}

#level-right {
  color: $my-yellow;
  padding-right: 5px;
}





