// Specific CSS for your home-page
.search-container {
  margin: auto !important;
  width: 80%;
}

.search-container-restaurant {
  // display: flex;
  margin: 0 auto;
  width: 95%;
  padding: 5px;
  height: 55px;
}

.search-container-dish {
  // display: flex;
  margin: 0 auto;
  width: 95%;
  padding: 5px;
  height: 55px;
}

#dish-button{
  margin-top: 6px !important;
  color: $my-yellow;
  font-style:normal;
}

#restaurant-button{
  margin-top: 6px;
  color: $my-yellow;
  font-style: normal;
}


.small-button {
  width: 10px !important;
  border-radius: 50% !important;
  font-size: 30px;
  font-style: normal !important;
  position: relative;
  i {
    color: $my-yellow;
    margin-left: 1px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.homepage-container{
  height: 100%;
}

.search-container .search-bar-restaurant {
  margin: auto !important;
  text-align: center;
  padding: 10px;
}

.search-container .search-bar-dishes {
  margin: auto !important;
  text-align: center;
  padding: 10px;
}
body {
  height: 100vh;
}

.page-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bar-restaurant {
  width: 300px;
  transition: all 0.3s ease-out;
}

.search-bar-dishes {
  width: 300px;
  transition: all 0.3s ease-out;
}

.animated {
  opacity: 1;
  transition: all 1.3s ease-out;
}


.hidden {
  opacity: 0;
  // width: 0px;
}

.page-container .logo2 img{
  width: 300px;
  margin-top: 220px;
  margin-left: 50px;
}
