body, html {

}

.rest-name-show {
  color: $my-yellow;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 0px;
  margin-top: 8px;
}

.restaurant-dish-grid {
  display: flex;
  justify-content:center;
  margin: 0px auto;
  flex-wrap: wrap;
}

.seperator {
  width: 75%;
  height: 3px;
  background-color: #dbbab43d;
}

.new-dish{
  border-radius: 55px;
  height: 50px;
  padding: 0;
  color: $my-yellow;
}

.new-dish a{
  color: $my-yellow;
}

a:hover {
  text-decoration: none;
}
