body, html {

}

.rest-name-show {
  color: $my-yellow;
  font-weight: 800;
  letter-spacing: 2px;
}

.restaurant-dish-grid {
  display: flex;
  justify-content:center;
  margin: 0px auto;
  flex-wrap: wrap;
}
