.restaurant-index-page h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px !important;
  padding-top: 15px;
  letter-spacing: 0.3em;
  margin-bottom: 0px;
}

.restaurant-index-page a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.restaurant-card {
  text-align: center;
  margin: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-top: 15px;
}


.border {
  border-bottom: solid #DBBAB4 !important;
  width: 75%;
  height: 1px;
  margin: auto;
}

.restaurant-image img{
  width: 100%;
}

.restaurant-name {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  letter-spacing: 0.3em;
  text-decoration: none;
}

.restaurant-cuisine {
  text-transform: uppercase;
  font-size: 12px;
}

.restaurant-data {
  font-size: 12px;
  list-style: none
}

#map {
  margin-left: auto;
}

.search-container {
  padding-bottom: 15px;
}
