.restaurant-index-page{
  padding-left: 5%;
  padding-right: 5%;
}

.restaurant-index-page h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #EFAC2C;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: $headers-font;
}

.search-container-restaurant {
  // display: flex;
  margin: 0px;
  width: 100%;
  padding: 5px;
  height: 55px;
}

.search-container-dish {
  // display: flex;
  margin: 0px;
  width: 100%;
  padding: 5px;
  height: 55px;
}

.restaurant-index-page a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.restaurant-card {
  text-align: center;
  width: 100%;
  margin-top: 16px;
  padding-bottom: 20px;
}

#map {
  text-align: center;
  width: 100%;
  margin-top: 16px;
}
.border-rest-card {
  // border-bottom: 3px solid #dbbab43d;
  width: 75%;
  height: 1px;
  margin: auto;
}

.restaurant-image img{
  width: 100%;
}

.restaurant-name {
  text-transform: uppercase;
  font-family: 'Castoro', sans-serif !important;
  font-size: 18px;
  letter-spacing: 0.3em;
  text-decoration: none;
}

.restaurant-name p {
  margin-top: 18px;
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #dbbab43d;
}

.restaurant-cuisine {
  text-transform: uppercase;
}

.restaurant-data {
  font-size: 1rem;
  color: #516360;
  list-style: none
}

#map {
  margin-left: auto;
}

.search-container {
  margin-left: 0 auto;
  padding-bottom: 5px;
  width: 100%;
}
