body, html {

}

.rest-name-show {
  color: $my-yellow;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 35px;
  margin-top: 0px;
}

.restaurant-dish-grid {
  display: flex;
  justify-content:center;
  margin: 0px auto;
  flex-wrap: wrap;
}

.seperator {
  width: 75%;
  height: 3px;
  background-color: #dbbab43d;
}
