.heading, .sub-heading {
  text-align: center;
  color: $my-green;
  font-weight: bold;
}

.sub-heading {
  margin-bottom: 0;
  font-size: 28px;
}

.dashboard-infos {
  color: $my-yellow;
  font-family: $body-font;
}

#review-info {
  padding: 12px;
}

.fas {
  font-size: 16px;
  margin-left: 6px;
  vertical-align: 2px;
}
