body {
  background-color: $background;
}

#new_review {
  margin: 30px 20px;
  text-align: left;
}

.review-container {
  text-align: center;
  margin: 50px 20px;
  font-family: $form-font;
  color: $my-green;
  height: 100vh;
}

#review_title, #review_content, #review_rating, #review_visit_date {
  border-bottom: 1px solid $my-pink;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#review_title:focus, #review_content:focus, #review_rating:focus, #review_visit_date:focus {
  border-bottom: 1px solid $my-green;
  box-shadow: none;
}

#review_content {
  min-height: 100px;
}

#form-buttons {
  margin-top: 145px;
  padding: 20px 0px;
}
