<div class ="page-container", style="background-image: url('https://res.cloudinary.com/dh6gdchfj/image/upload/v1606478480/brooke-lark-wMzx2nBdeng-unsplash_y2wxgy.jpg'); position: relative; top: -70px">
  <div class="search-container", style="position: relative; top: 350px">
    <div class="search-container-restaurant">
      <div class="btn-search-home" id="restaurant-button">Search by Restaurant</div>
      <div class="search-bar-restaurant hidden">
        <%= form_tag restaurants_path, method: :get do %>
          <%= text_field_tag :query1,
          params[:query1],
          class: "form_control form-search form-search-colour", id: "form-button-search-restaurant",
          placeholder: "Search", html:{ autocomplete: "off" }
          %>
        <% end %>
      </div>
   </div>

    <div class="search-container-dish">
      <div class="btn-search-home" id="dish-button">Search by Dish</div>
      <div class="search-bar-dishes hidden">
        <%= form_tag dishes_path, method: :get do %>
          <%= text_field_tag :query2,
          params[:query2],
          class: "form_control form-search form-search-colour", id: "form-button-search-dish",
          placeholder: "Search", html:{ autocomplete: "off" }
          %>
        <% end %>
      </div>
    </div>
  </div>


