.ach-style {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 2px 12px;
  border-radius: 34px;
  margin-top: 23px;
}

.ach-critic {
  background-color: $my-teal;
  border: 2px solid $my-teal;
  color: white;
}


.ach-one{
  background: #EFAC2C;
  border: 2px solid #EFAC2C;
  color: white;
}

#hand-spark {
  font-size: 16px;
  margin-right: 7px;
}

.ach-two {
  background: $my-purple;
  border: 2px solid $my-purple;
  color: white;
}

#grad-cap {
  font-size: 16px;
  margin-right: 7px;
}

.ach-three {
  background: #b93e3e;
  border: 2px solid #b93e3e;
  box-shadow: 0 0 12px 4px rgba(255, 0, 0, 0.3);
  color: white;
}

#knife {
  font-size: 16px;
  margin-right: 7px;
}

.ach-four {
  background: #117146;
  border: 2px solid #117146;
  color: white;
  box-shadow: 0 0 12px 4px rgba(10, 103, 0, 0.3);

}

#knife {
  font-size: 16px;
  margin-right: 7px;
}




