#form-button {
  background-color: $my-green;
  border: 1px solid $my-green;
  font-family: $form-font;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 12px 19px;
}


.btn-search-home{
  color: white;
  border: none;
  background-color: $my-green;
  border: 2px solid $my-green;
  padding: 8px 19px;
  font-style: italic;
  font-family: $headers-font;
  letter-spacing: 2px;
  border-radius: 25px;
  transition: 0.5s ease;
  width: 100%;
  text-align: center;
  height: 100%;
}

#form-button-search-restaurant, #form-button-search-dish {
  border: none;
  background-color: transparent;
  border: 1px solid $my-green;
  margin-right: -10px;
  font-family: $headers-font;
  letter-spacing: 1px;
  border-radius: 25px;
  padding: 8px 19px;
  width: 100%;
  text-align: center;
  height: 100%;
  outline: none;

}

.small-pink-button {
  margin: auto !important;
  border: none;
  background-color: $my-pink;
  font-family: $headers-font;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 8px 8px;
  font-size: 18px;
}

.back-button {
  background-color: $my-green;
  border: 1px solid $my-green;
  padding: 12px 19px;
  border-radius: 5px;
}

.back-button a {
  text-decoration: none;
  font-family: $form-font;
  letter-spacing: 1px;
  color: white;
}
