.dish-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px !important;
  padding: 16px 0px;
  scroll-margin-top: 93px;
  position:relative;
}

.box-shadow-card {
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.05);
}

.rest-name-show {
  margin-bottom: 35px;
  margin-top: 0px;
}

.dish-name {
  width: 97%
}

.dish-name h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: $my-green;
  border-bottom: 3px solid #dbbab43d;
  font-family: "Castoro";
}

.dish-description{
  text-align: center;
}

.dish-description p {
  color: #516360;
}

.dish-allergen p {
  color: #a9a7a7;
  margin-top: 7px;
}

.dish-average-rating {
  color: #a9a7a7;
  margin-bottom: 8px;
}

.dish-rating-icons-size p{
 font-size: 37px;
 padding-bottom: 0px;
 margin-bottom: 0px;
}

#rating-padding {
  margin-bottom:0px;
}

.dish-card h2 {
  padding-bottom: 10px;
  padding-top: 20px;
}

.dashboard {
  margin: 20px;
}

.dashboard-card {
  overflow: hidden;
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $my-green
}

.dashboard-card img {
  height: 32px;
  width: auto;
  object-fit: cover;
}

.dashboard-infos a {
  text-decoration: none;
  font-size: 20px;
  color: $my-yellow;
  font-weight: bold;
  margin: 0;
}

.dashboard-infos p {
  font-size: 17px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 3px;
  color: $my-green;
  text-align: left;
}

#fav-infos {
  padding: 12px;
}

.dish-review-link a {
  color: $my-green;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 5px;
  border: 2px solid $my-yellow;
  padding: 11px 52px;
}

.dish-review-link {
  margin-bottom: 18px;
  margin-top: 18px;
}

#dashboard-row {
  margin-top: 8px;
}

.top-rated-dish {
  border: 3px solid $my-yellow !important;
  box-shadow: 0 0 4px 1px #efac2c91 !important;
}

// .top-rated-dish a {
//   border: 3px solid $my-yellow !important;
// }

.most-reviews-dish {
  border: 3px solid #8E5572;
  box-shadow: 0 0 4px 1px #8E5572;
}


.top-rated-position {
  position: absolute;
  width: 30%;
  text-align:center;
  right: 0;
  top:0;
  padding-top: 0.5px;
  background-color: $my-yellow;
}

.most-reviewed-position {
  position: absolute;
  width: 32%;
  top: 0;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  background-color: #8E5572;
}

.critics-choice-position {
  position: absolute;
  top: 0;
  left: -1%;
  width: 31%;
  margin-left: 3px;
  background-color: $my-yellow;
}

.critics-choice-position i {
  margin-right: 5px;
}

#flag-colour-size {
  color: white;
  font-size: 11px;
  margin-right: 9px;
}

.top-rated-position p {
  margin-bottom: 0;
  color: white;
  font-size: 11px;
  padding-top: 2px;
  padding-right: 6px;
}

.most-reviewed-position p{
  margin-bottom: 0;
  color: white;
  font-size: 11px;
  padding-top: 2px;
  padding-right: 6px;
}

.critics-choice-position p{
  margin-bottom: 0;
  color: white;
  font-size: 11px;
  padding-top: 2px;
  padding-right: 6px;
}





