.modal-box {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  position: fixed;
  display: none;
  width: 90%;
  height: 90%;
  top: 0;
  z-index: 2;
  background-color: white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
  transition: all 5s linear;
}
