.screen-overlay {
  position:fixed;
  top: 0;
  display: none;
  width: 100%;
  height:100%;
  z-index: 2;
  background-color: transparent;
}



.modal-box-total {
  border: 3px solid $my-green;
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  bottom: 0;
  z-index: 3;
  background-color: #F7F7F7;
  overflow: auto;
}

.modal-box-border {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}



.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5% 5% 0% 5%;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 5px;
}

.rating-content-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 29px;
  background-color: white;
  position: sticky;
  top: 0;
}

.rating-content-scores p{
  margin-bottom: 0px;
}

.rating-count-star{
  padding-left: 27px;
}

.stars-container {
  width: 100%;
  padding: 0px 10px;
}

.number-stars {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 10%;
  align-items: center;
}

.number-stars p {
  padding: 0px 6px;
  width: 16%;
}

.bar-container {
 background-color: #F7F7F7;
}

.bar-colour{
 background-color: yellow;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 width: 70%;
 height: 16px;
}

.score-chart {
  height: 100%;
  width: 100%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
  transition: all 5s linear;
}

.fave-button {
  justify-self: flex-end;
}

.review-heading h5 {
  padding-top: 10px;
}

#five-colour {
  background-color: $my-green;
  border-color: $my-green;
}
#four-colour {
 background-color: $my-pink;
 border-color: $my-pink;
}
#three-colour {
 background-color: $my-yellow;
}
#two-colour {
 background-color: $my-white;
}
#one-colour {
 background-color: $my-green;
}

.bar-container {
  width: 70%;
  height: 10%;
}


// Review section


.review-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.individual-review {
  padding: 25px 11px;
  background-color: white;
  margin-bottom: 5px;
}

.review-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-user p {
  margin-bottom: 0px;
}

.review-name {
  padding: 0px 17px;
}

.review-nationality {
  padding-left: 12px;
}

.review-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-rating {

  font-size: 31px;
  margin-bottom: 0px;
}

.review-rating h3 {
  padding-left: 4px;
  margin-top: -9px;
  letter-spacing: -5px;
}

.review-content {
  padding-left: 4px;
}

.review-visit {
  padding-left: 4px;
}

.review-body span {
  font-weight: bold;
}

.star-visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  width: 100%;
}

.date-since-visit {
  margin-bottom: 0px;
  padding-left: 8px;
}
